*{
    box-sizing: border-box;
}
.c-field {
    display: inline-block;
    border: 1px solid black;
}
.board {
    display: inline-flex;
    flex-direction: column;
}
.row {
    display: flex;
}
.c-cell {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.c-cell:hover {
    outline: 2px solid black;
}
.figure {
    position: relative;
    display: inline-block;
    font-family: serif;
    font-size: 24px;
}